.interaction {
    text-align: center;
    margin: auto;
    height: 15vh;
    background-color: grey;
    display: flex;
}

.sorts {
    display: flex;
    flex: 1 1 auto;
}

.sortButton {
    flex: 1 1 auto;
}

.options {
    flex: 1 1 auto
}