@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    font-family: 'Source Sans Pro', sans-serif;
}

.interaction {
    text-align: center;
    margin: auto;
    height: 15vh;
    background-color: grey;
    display: flex;
}

.sorts {
    display: flex;
    flex: 1 1 auto;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sortButton {
    width: 15%;
    padding: 0.5rem
}

.options {
    flex: 1 1 auto
}

.generate {
    height: 100%
}

.break {
    border: 2px solid black;
    border-radius: 50px;
    margin: 2vh 0.2rem 2vh 0.4rem
}