@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.interaction {
    margin: auto;
    height: 15vh;
    background-color: #d9d9d9;
    display: flex;
}

.generator {
    padding-right: 0.5rem
}

.sorts {
    display: flex;
    flex: 3 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vh 0 0 0;
    width: 35%
}

.sortButton {
    width: 28%;
    padding: 0 0.5rem 1vh 0.5rem;
    flex: 1 1 28%;
    border-radius: 4rem;
    text-transform: none;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 140px;
}

@media screen and (max-width: 1919px) {
    .sortButton {
        min-width: 30%;
        max-width: 1000px;
    }

    .legend h2 {
        font-size: 150% !important;
    }
}

@media screen and (min-width: 1920px) {
    .sortButton {
        max-width: 1000px;
        flex: 1 1
    }
}

.options {
    display: flex;
    flex: 4 0 0;
    padding: 1vh 0.5% 1vh 0.5%;
    width: 35%;
    flex-wrap: wrap;
    column-gap: 5%
}

.option {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.optionComponent {
    display: flex;
    align-items: center;
}


.break {
    border: 2px solid black;
    border-radius: 50px;
    margin: 1vh 0 1vh 0
}

.about {
    padding: 1vh 0.5rem 1vh 0.5rem;
    width: 70%
}

.about h2 {
    margin: 0;
    padding: 0;
    height: 3vh;
}

@media screen and (max-width: 800px) {
    .about h2 {
        margin: 0;
        padding: 0;
        height: 1vh !important;

    }
}

@media screen and (max-width: 1200px) {
    .about h2 {
        margin: 0;
        padding: 0;
        height: 2vh !important;

    }
}

.about p {
    width: 100%;
    margin: 0.25rem 0 0.25rem 0;
}

.generator {
    width: 10%
}

.legend {
    width: 20%;
    padding: 1vh 0.5rem 1vh 0.5rem;
    text-align: center;
    height: 13vh
}

.legend h2 {
    margin: 0;
    height: 4vh;
}

.colorDisplay {
    width: auto;
    min-width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    flex: 1 1 30%
}

.colorDisplay p {
    cursor: default
}

.colorDisplay:hover {
    filter: brightness(175%)
        /* background-color: #284b63 !important; */
}

.legendBlock {
    display: flex;
    flex-flow: row wrap;
    height: 9vh;
    column-gap: 0.2rem;
    justify-content: space-between;
    row-gap: 0.20rem
}

.legendBlock p {
    margin: 0
}

#compare {
    background-color: rgb(136, 11, 119);
}

#verify {
    background-color: darkgreen;
}

#swap {
    background-color: midnightblue
}

#insert {
    background-color: crimson
}

#pivots {
    background-color: brown;
}

#parser {
    background-color: orangered;
}

#selection li {
    display: inline;
    margin-right: 0.5rem
}

#selection ul {
    padding: 0;
    margin: 0
}

#merge ol {
    margin: 0;
    padding: 0;
}

.MuiSlider-thumb:is(:hover, .Mui-active) {
    box-shadow: none !important;
}