.array-container {
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    height: 85vh;
}

.none, .swap, .compare  {
    flex: 1 1 content;
    /* border: 0.2px ridge rgb(161, 37, 79); */
    box-sizing: border-box;
}

.none {
    background-color: rgb(216, 30, 91); 
}
.swap {
    background-color: rgb(136, 11, 119); 
}
.compare {
    background-color: rgb(42, 133, 54); 
}